<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Shop</title>
</head>
<body>
    <header style="padding: 2%;">
        <div id="left-navbar" style="width:auto;height:auto;display:inline-block;float: left">
            {% if request.get_full_path != '/' %}
                <a href = "{% url 'index' %}">Home</a> |
            {% endif %}

            {% if user.is_staff %}
                <a href = "{% url 'dashboard' %}">Dashboard</a> |
                <a href = "{% url 'product_list' %}">Products</a> |
                <a href = "{% url 'cart' %}">cart</a>
                <a href = "{% url 'customer_list' %}">Customers</a> |
                <a href = "{% url 'order_list' %}">Orders</a>

            {% else %}
                <a href = "{% url 'product_list' %}">Products</a> |
                <a href = "{% url 'carts' %}">cart</a>

            {% endif %}
        </div>
        <div style=";width:100px;height:100px;display:inline;float: right ">
            {% if user.is_authenticated %}
                Hello {{ user.username }}
                <a href = "{% url 'logout' %}">Log Out</a>

            {% else %}
                <a href = "{% url 'login' %}">Log In</a>

            {% endif %}
        </div>
    </header>
    <div id="body">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <center style="align-content: center">
            © Ziyi Cao - University of Aberdeen 2021
        </center>
    </footer>
</body>
</html>