{% extends 'game_shop/base.html' %}
{% block content %}
    <h1 style="text-align:center;">Game List</h1>
    <p>{{ deleted }} </p>
    {% if user.is_staff %}
        <p><a href="{% url 'product_new' %}">Add a new product</a></p>
    {% endif %}
    <table style="border: thin solid black;align-self: center;margin: auto;width: auto;border-collapse: separate;border-spacing: 10px;">
        <tr>
            <th> | Game name | </th>
            <th> | Average playtime | </th>
            <th> | positive_ratings | </th>
            <th> | negative_ratings | </th>
            <th> | Release_date | </th>
            <th> | Price | </th>
            {% if user.is_staff %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for game in games %}
        <tr>
            <td><a href="{% url 'product_detail' id=game.id %}">{{game.name }}</a></td>
            <td>{{ game.average_playtime }}</td>
            <td>{{ game.positive_ratings }}</td>
            <td>{{ game.negative_ratings }}</td>
            <td>{{ game.Release_date }}</td>
            <td>{{ game.price }}</td>
            {% if user.is_staff %}
                <td><a href="{% url 'product_edit' id=game.id %}">edit</a></td>
                <td><a href="{% url 'product_delete' id=game.id %}">delete</a></td>
            {% endif %}
        </tr>

        {% endfor %}
    </table>

    <div class="pagination" style="padding-left:65%">
        <span class="step-links">
            {% if games.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ games.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ games.number }} of {{ games.paginator.num_pages }}.
            </span>

            {% if games.has_next %}
                <a href="?page={{ games.next_page_number }}">next</a>
                <a href="?page={{ games.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    {% endblock %}
{#TODO: complate this page#}