  {% extends 'game_shop/base.html' %}
  {% block content %}
    <div style="padding: 15% 20%">
        <h1 style="text-align:center; font-size: 20pt">Game Shop</h1>
        <p style="text-align:center;">
            Game Shop is a large distributor of video games, featuring some of the best-selling games on Steam
        </p>

        <p style="text-align:center;">
            We can provide users with valid Steam activation codes at a more affordable price.
        </p>
    </div>
  {% endblock %}