{#TODO: complate this page#}

{% extends 'game_shop/base.html' %}
{% block content %}
    <h1>Game Shop: Product Details</h1>

    <p>Product {{ product.id }}: <a href="{% url 'product_edit' id=product.id %}">Edit</a>
      This is product {{ product.name }} which costs
      {{product.price}}. The product was added on: {{ product.created_date }}
   </p>
   <div>
        <form action="{% url 'product_buy' %}" method="post">
        {% csrf_token %}
        <p>Buy one for yourself</p>
            <input type='hidden' name='id' value="{{ product.id }}">
            <label for="quantity"></label>
            <input type="number" name="quantity" id="quantity">
            <input type="submit" value="Purchase">
        </form>
    </div>
   <p><a href="{% url 'product_delete' id=product.id %}">Delete the product</a></p>
    {% endblock %}